RPC_URL=https://rpc.xlayer.tech
PRIVATE_KEY=0xYOUR_PRIVATE_KEY_WITHOUT_FUNDS
OWNER_ADDRESS=0xYOUR_OWNER_ADDRESS
AGENT_ADDRESS=0xYOUR_AGENT_ADDRESS
BACKEND_ADDRESS=0xYOUR_BACKEND_ADDRESS
FEE_RECIPIENT=0xYOUR_FEE_RECIPIENT
MIN_STAKE_OKB=0.01

PREDICTION_REGISTRY_ADDRESS=0xcE7186F84cd7F48124dDADB5d318e7Df06667010
STAKING_POOL_ADDRESS=0x235491Ff2789Ae6988f361FEF275E829fCbc5A8D
ORACLE_RESOLVER_ADDRESS=0x8b675449ECa160A891529181Fa7AA4185FB907C5

NEXT_PUBLIC_REGISTRY=0xcE7186F84cd7F48124dDADB5d318e7Df06667010
NEXT_PUBLIC_POOL=0x235491Ff2789Ae6988f361FEF275E829fCbc5A8D
NEXT_PUBLIC_RESOLVER=0x8b675449ECa160A891529181Fa7AA4185FB907C5
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=your_walletconnect_project_id
NEXT_PUBLIC_FROM_BLOCK=60850360
NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/

ANTHROPIC_API_KEY=your_anthropic_api_key
API_FOOTBALL_KEY=your_api_football_key
ODDS_API_KEY=your_odds_api_key
PINATA_JWT=your_pinata_jwt
MIN_CONFIDENCE=55
